[submodule "deps/pelican-cite"]
	path = deps/pelican-cite
	url = https://github.com/VorpalBlade/pelican-cite.git
[submodule "deps/Flex"]
	path = deps/Flex
	url = git@github.com:alexandrevicenzi/Flex.git
